In [1]:
import pandas as pd

In [47]:
results = pd.read_csv('results.csv', dtype=str)

In [48]:
results.head()

,season,round,tie,winner,pk,agr,aet,result
0,2008,first,arsenal-milan,arsenal,False,False,False,arsenal (2-0) milan
1,2008,first,celtic-barcelona,barcelona,False,False,False,celtic (2-4) barcelona
2,2008,first,fenerbahce-sevilla,fenerbahce,True,False,True,"fenerbahce (5-5 aet) sevilla, fenerbahce won o..."
3,2008,first,liverpool-inter,liverpool,False,False,False,liverpool (3-0) inter
4,2008,first,lyon-united,united,False,False,False,lyon (1-2) united

In [49]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 8 columns):
season    162 non-null object
round     162 non-null object
tie       162 non-null object
winner    162 non-null object
pk        162 non-null object
agr       162 non-null object
aet       162 non-null object
result    162 non-null object
dtypes: object(8)
memory usage: 10.2+ KB

In [50]:
goles = pd.read_csv('goles - liga de campeones - Sheet1.tsv', sep='\t', dtype=str)

In [51]:
goles['season'].fillna(method='pad', inplace=True)
goles['round'].fillna(method='pad', inplace=True)
goles['tie'].fillna(method='pad', inplace=True)
goles['game'].fillna(method='pad', inplace=True)

In [52]:
goles.head()

  season  round          tie game minute away extra shootout note
0   2017  first  city-monaco    1     26  NaN   NaN      NaN  NaN
1   2017  first  city-monaco    1     32    a   NaN      NaN  NaN
2   2017  first  city-monaco    1     40    a   NaN      NaN  NaN
3   2017  first  city-monaco    1     58  NaN   NaN      NaN  NaN
4   2017  first  city-monaco    1     61    a   NaN      NaN  NaN

In [53]:
goles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 9 columns):
season      961 non-null object
round       961 non-null object
tie         961 non-null object
game        961 non-null object
minute      936 non-null object
away        366 non-null object
extra       12 non-null object
shootout    7 non-null object
note        0 non-null object
dtypes: object(9)
memory usage: 67.6+ KB

In [54]:
goles[goles.minute.fillna('').str.contains('\+')].minute.unique()

array(['90+1', '90+5', '45+1', '90+6', '90+4', '90+3', '90+2', '45+2',
       '45+3', '90+8'], dtype=object)

In [55]:
goles.minute.unique()

array(['26', '32', '40', '58', '61', '71', '77', '82', '8', '29', '18',
       '49', '54', '24', '52', '57', '90+1', '48', '4', '85', '59', '11',
       '30', '53', '56', '63', '88', '20', '55', '68', '78', '80', '72',
       '74', '42', '17', '25', '86', nan, '3', '50', '90+5', '62', '73',
       '27', '28', '84', '19', '79', '35', '81', '47', '76', '105', '110',
       '112', '7', '22', '10', '12', '16', '33', '44', '69', '89', '60',
       '64', '39', '45+1', '67', '83', '65', '51', '43', '5', '108', 'pk',
       '90+6', '15', '2', '38', '36', '41', '31', '96', '114', '13', '70',
       '45', '34', '75', '87', '90+4', '14', '23', '90', '6', '9', '21',
       '37', '90+3', '66', '90+2', '1', '45+2', '45+3', '46', '98', '117',
       '90+8'], dtype=object)

In [56]:
def make_minutes(row):
    '''
    1-45: Game 1 first half (1-45)
    46: Game 1 first-half stoppage time
    47-91: Game 1 second-half (46-90)
    92: Game 1 second-half stoppage time
    
    93-137: Game 2 first half (1-45)
    138: Game 2 first-half stoppage time
    139-183: Game 2 second half (46-90)
    184: Game 2 second-half stoppage time
    
    185-199: Game 2 extra time first half (91-105)
    200: Game 2 extra time first half stoppage time
    201-215: Game 2 extra time second half (106-120)
    216: Game 2 extra time second half stoppage time
    
    217: Penalty shootout
    '''
    
    g = row.game
    m = row.minute
        
    if g == '1':
        if pd.isnull(m):
            return m
        if '45+' in m:
            return 46
        if '90+' in m:
            return 92
        if int(m) >= 1 and int(m) <= 45:
            return int(m)
        if int(m) >= 46 and int(m) <= 90:
            return int(m) + 1
        
    if g == '2':
        if pd.isnull(m):
            return m
        if '45+' in m:
            return 138
        if '90+' in m:
            return 184
        if '105+' in m:
            return 200
        if '120+' in m:
            return 216
        if 'pk' in m:
            return 217
        if int(m) >= 1 and int(m) <= 45:
            return int(m) + 92
        if int(m) >= 46 and int(m) <= 90:
            return int(m) + 93
        if int(m) >= 91 and int(m) <= 105:
            return int(m) + 94
        if int(m) >= 106 and int(m) <= 120:
            return int(m) + 95

In [57]:
goles['made_minute'] = goles.apply(make_minutes, axis=1)

In [58]:
goles

,season,round,tie,game,minute,away,extra,shootout,note,made_minute
0,2017,first,city-monaco,1,26,NaN,NaN,NaN,NaN,26.0
1,2017,first,city-monaco,1,32,a,NaN,NaN,NaN,32.0
2,2017,first,city-monaco,1,40,a,NaN,NaN,NaN,40.0
3,2017,first,city-monaco,1,58,NaN,NaN,NaN,NaN,59.0
4,2017,first,city-monaco,1,61,a,NaN,NaN,NaN,62.0
5,2017,first,city-monaco,1,71,NaN,NaN,NaN,NaN,72.0
6,2017,first,city-monaco,1,77,NaN,NaN,NaN,NaN,78.0
7,2017,first,city-monaco,1,82,NaN,NaN,NaN,NaN,83.0
8,2017,first,city-monaco,2,8,NaN,NaN,NaN,NaN,100.0
9,2017,first,city-monaco,2,29,NaN,NaN,NaN,NaN,121.0
10,2017,first,city-monaco,2,71,a,NaN,NaN,NaN,164.0
11,2017,first,city-monaco,2,77,NaN,NaN,NaN,NaN,170.0
12,2017,first,madrid-napoli,1,8,a,NaN,NaN,NaN,8.0
13,2017,first,madrid-napoli,1,18,NaN,NaN,NaN,NaN,18.0
14,2017,first,madrid-napoli,1,49,NaN,NaN,NaN,NaN,50.0
15,2017,first,madrid-napoli,1,54,NaN,NaN,NaN,NaN,55.0
16,2017,first,madrid-napoli,2,24,NaN,NaN,NaN,NaN,116.0
17,2017,first,madrid-napoli,2,52,a,NaN,NaN,NaN,145.0
18,2017,first,madrid-napoli,2,57,a,NaN,NaN,NaN,150.0
19,2017,first,madrid-napoli,2,90+1,a,NaN,NaN,NaN,184.0
20,2017,first,benfica-dortmund,1,48,NaN,NaN,NaN,NaN,49.0
21,2017,first,benfica-dortmund,2,4,NaN,NaN,NaN,NaN,96.0
22,2017,first,benfica-dortmund,2,61,NaN,NaN,NaN,NaN,154.0
23,2017,first,benfica-dortmund,2,85,NaN,NaN,NaN,NaN,178.0
24,2017,first,benfica-dortmund,2,59,NaN,NaN,NaN,NaN,152.0
25,2017,first,bayern-arsenal,1,11,NaN,NaN,NaN,NaN,11.0
26,2017,first,bayern-arsenal,1,30,a,NaN,NaN,NaN,30.0
27,2017,first,bayern-arsenal,1,53,NaN,NaN,NaN,NaN,54.0
28,2017,first,bayern-arsenal,1,56,NaN,NaN,NaN,NaN,57.0
29,2017,first,bayern-arsenal,1,63,NaN,NaN,NaN,NaN,64.0
...,...,...,...,...,...,...,...,...,...,...
931,2019,first,tottenham-dortmund,1,83,NaN,NaN,NaN,NaN,84.0
932,2019,first,tottenham-dortmund,1,86,NaN,NaN,NaN,NaN,87.0
933,2019,first,tottenham-dortmund,2,49,a,NaN,NaN,NaN,142.0
934,2019,first,lyon-barcelona,1,NaN,NaN,NaN,NaN,NaN,NaN
935,2019,first,lyon-barcelona,2,18,NaN,NaN,NaN,NaN,110.0
936,2019,first,lyon-barcelona,2,78,NaN,NaN,NaN,NaN,171.0
937,2019,first,lyon-barcelona,2,31,NaN,NaN,NaN,NaN,123.0
938,2019,first,lyon-barcelona,2,81,NaN,NaN,NaN,NaN,174.0
939,2019,first,lyon-barcelona,2,86,NaN,NaN,NaN,NaN,179.0
940,2019,first,lyon-barcelona,2,58,a,NaN,NaN,NaN,151.0
941,2019,first,roma-porto,1,70,NaN,NaN,NaN,NaN,71.0
942,2019,first,roma-porto,1,76,NaN,NaN,NaN,NaN,77.0
943,2019,first,roma-porto,1,79,a,NaN,NaN,NaN,80.0
944,2019,first,roma-porto,2,26,NaN,NaN,NaN,NaN,118.0
945,2019,first,roma-porto,2,52,NaN,NaN,NaN,NaN,145.0
946,2019,first,roma-porto,2,117,NaN,et,NaN,NaN,212.0
947,2019,first,roma-porto,2,37,a,NaN,NaN,NaN,129.0
948,2019,first,ajax-madrid,1,75,NaN,NaN,NaN,NaN,76.0
949,2019,first,ajax-madrid,1,60,a,NaN,NaN,NaN,61.0
950,2019,first,ajax-madrid,1,87,a,NaN,NaN,NaN,88.0
951,2019,first,ajax-madrid,2,70,NaN,NaN,NaN,NaN,163.0
952,2019,first,ajax-madrid,2,7,a,NaN,NaN,NaN,99.0
953,2019,first,ajax-madrid,2,18,a,NaN,NaN,NaN,110.0
954,2019,first,ajax-madrid,2,62,a,NaN,NaN,NaN,155.0
955,2019,first,ajax-madrid,2,72,a,NaN,NaN,NaN,165.0
956,2019,first,liverpool-bayern,1,NaN,NaN,NaN,NaN,NaN,NaN
957,2019,first,liverpool-bayern,2,39,NaN,NaN,NaN,NaN,131.0
958,2019,first,liverpool-bayern,2,26,a,NaN,NaN,NaN,118.0
959,2019,first,liverpool-bayern,2,84,a,NaN,NaN,NaN,177.0
960,2019,first,liverpool-bayern,2,69,a,NaN,NaN,NaN,162.0