In [1]:
import pandas as pd

In [2]:
results = pd.read_csv('results.csv')

In [3]:
results.head()

,season,round,tie,winner,pk,agr,aet,result
0,2008.0,first,arsenal-milan,arsenal,False,False,False,arsenal (2-0) milan
1,2008.0,first,celtic-barcelona,barcelona,False,False,False,celtic (2-4) barcelona
2,2008.0,first,fenerbahce-sevilla,fenerbahce,True,False,True,"fenerbahce (5-5 aet) sevilla, fenerbahce won o..."
3,2008.0,first,liverpool-inter,liverpool,False,False,False,liverpool (3-0) inter
4,2008.0,first,lyon-united,united,False,False,False,lyon (1-2) united

In [5]:
goles = pd.read_csv('goles - liga de campeones - Sheet1.tsv', sep='\t')

In [8]:
goles['season'].fillna(method='pad', inplace=True)
goles['round'].fillna(method='pad', inplace=True)
goles['tie'].fillna(method='pad', inplace=True)
goles['game'].fillna(method='pad', inplace=True)

In [9]:
goles.head()

   season  round          tie  game minute away extra shootout  note
0  2017.0  first  city-monaco   1.0     26  NaN   NaN      NaN   NaN
1  2017.0  first  city-monaco   1.0     32    a   NaN      NaN   NaN
2  2017.0  first  city-monaco   1.0     40    a   NaN      NaN   NaN
3  2017.0  first  city-monaco   1.0     58  NaN   NaN      NaN   NaN
4  2017.0  first  city-monaco   1.0     61    a   NaN      NaN   NaN

In [19]:
goles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 813 entries, 0 to 812
Data columns (total 9 columns):
season      813 non-null float64
round       813 non-null object
tie         813 non-null object
game        813 non-null float64
minute      793 non-null object
away        302 non-null object
extra       11 non-null object
shootout    7 non-null object
note        0 non-null float64
dtypes: float64(3), object(6)
memory usage: 57.2+ KB

In [18]:
goles[goles.minute.fillna('').str.contains('\+')].minute.unique()

array(['90+1', '90+5', '45+1', '90+6', '90+4', '90+3', '90+2', '45+2',
       '45+3'], dtype=object)

In [20]:
goles.minute.unique()

array(['26', '32', '40', '58', '61', '71', '77', '82', '8', '29', '18',
       '49', '54', '24', '52', '57', '90+1', '48', '4', '85', '59', '11',
       '30', '53', '56', '63', '88', '20', '55', '68', '78', '80', '72',
       '74', '42', '17', '25', '86', nan, '3', '50', '90+5', '62', '73',
       '27', '28', '84', '19', '79', '35', '81', '47', '76', '105', '110',
       '112', '7', '22', '10', '12', '16', '33', '44', '69', '89', '60',
       '64', '39', '45+1', '67', '83', '65', '51', '43', '5', '108', 'pk',
       '90+6', '15', '2', '38', '36', '41', '31', '96', '114', '13', '70',
       '45', '34', '75', '87', '90+4', '14', '23', '90', '6', '9', '21',
       '37', '90+3', '66', '90+2', '1', '45+2', '45+3', '46', '98', '117'],
      dtype=object)

In [ ]:
def make_minutes(row):
    '''
    46th minute: Game 1 first-half stoppage time
    92nd minute: Game 1 second-half stoppage time
    138th minute: Game 2 first-half stoppage time
    184th minute: Game 2 second-half stoppage time
    185th minute: Penalty shootout
    '''
    
    g = row.game
    m = row.minute
        
    if g == 1:
        if pd.isnull(m):
            return m
        if '45+' in m:
            return 46
        if '90+' in m:
            return 92
        
    if g == 2: