In [1]:
import pandas as pd

In [12]:
odds = pd.read_csv('champions league odds - odds.csv')

In [13]:
odds.head()

         hometeam       awayteam  season   homewin       tie   awaywin
0        AS Roma       Liverpool    2018  0.367839  0.240685  0.391476
1    Real Madrid   Bayern Munich    2018  0.407064  0.237869  0.355067
2  Bayern Munich     Real Madrid    2018  0.487331  0.238888  0.273781
3      Liverpool         AS Roma    2018  0.642321  0.211442  0.146237
4  Bayern Munich         Sevilla    2018  0.764948  0.142686  0.092366

In [14]:
odds.hometeam.unique()

array(['AS Roma ', 'Real Madrid ', 'Bayern Munich ', 'Liverpool ',
       'Manchester City ', 'Barcelona ', 'Juventus ', 'Sevilla ',
       'Besiktas ', 'Manchester Utd ', 'Tottenham ', 'Paris SG ',
       'Shakhtar Donetsk ', 'Chelsea ', 'FC Porto ', 'Basel ',
       'Atl. Madrid ', 'Monaco ', 'Leicester ', 'Dortmund ', 'Arsenal ',
       'Napoli ', 'Bayer Leverkusen ', 'Benfica ', 'Wolfsburg ',
       'Zenit Petersburg ', 'Dyn. Kyiv ', 'PSV ', 'Gent ', 'Schalke ',
       'Galatasaray ', 'Olympiakos Piraeus ', 'AC Milan ', 'Malaga ',
       'Celtic ', 'Valencia ', 'Marseille ', 'APOEL ', 'Inter ',
       'CSKA Moscow ', 'Lyon ', 'FC Copenhagen ', 'Bordeaux ',
       'Fiorentina ', 'Stuttgart ', 'Villarreal ', 'Panathinaikos ',
       'Sporting ', 'Fenerbahce ', 'Ajax '], dtype=object)

In [15]:
teams = {}
for t in odds.hometeam.unique():
    teams[t.strip()] = True
for t in odds.awayteam.unique():
    teams[t.strip()] = True

In [16]:
sorted(teams.keys())

['AC Milan',
 'APOEL',
 'AS Roma',
 'Ajax',
 'Arsenal',
 'Atl. Madrid',
 'Barcelona',
 'Basel',
 'Bayer Leverkusen',
 'Bayern Munich',
 'Benfica',
 'Besiktas',
 'Bordeaux',
 'CSKA Moscow',
 'Celtic',
 'Chelsea',
 'Dortmund',
 'Dyn. Kyiv',
 'FC Copenhagen',
 'FC Porto',
 'Fenerbahce',
 'Fiorentina',
 'Galatasaray',
 'Gent',
 'Inter',
 'Juventus',
 'Leicester',
 'Liverpool',
 'Lyon',
 'Malaga',
 'Manchester City',
 'Manchester Utd',
 'Marseille',
 'Monaco',
 'Napoli',
 'Olympiakos Piraeus',
 'PSV',
 'Panathinaikos',
 'Paris SG',
 'Real Madrid',
 'Schalke',
 'Sevilla',
 'Shakhtar Donetsk',
 'Sporting',
 'Stuttgart',
 'Tottenham',
 'Valencia',
 'Villarreal',
 'Wolfsburg',
 'Zenit Petersburg']

In [17]:
results = pd.read_csv('results.csv')

In [18]:
shortteams = {}
for tie in results.tie:
    tms = tie.split('-')
    shortteams[tms[0]] = True
    shortteams[tms[1]] = True

In [19]:
sorted(shortteams.keys())

['ajax',
 'apoel',
 'arsenal',
 'atletico',
 'barcelona',
 'basel',
 'bayern',
 'benfica',
 'besiktas',
 'bordeaux',
 'celtic',
 'chelsea',
 'city',
 'copenhagen',
 'cska',
 'dortmund',
 'fenerbahce',
 'fiorentina',
 'galatasaray',
 'gent',
 'inter',
 'juventus',
 'kyiv',
 'leicester',
 'leverkusen',
 'liverpool',
 'lyon',
 'madrid',
 'malaga',
 'marseille',
 'milan',
 'monaco',
 'napoli',
 'olympiacos',
 'panathinaikos',
 'porto',
 'psg',
 'psv',
 'roma',
 'schalke',
 'sevilla',
 'shakhtar',
 'sporting',
 'stuttgart',
 'tottenham',
 'united',
 'valencia',
 'villareal',
 'wolfsburg',
 'zenit']

In [20]:
len(sorted(shortteams.keys()))

50

In [21]:
len(sorted(teams.keys()))

50