In [1]:
import pandas as pd

In [2]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression

In [19]:
matrix = pd.read_csv('minute-matrix.csv')

In [20]:
matrix.head()

,season,round,tie,made_minute,away,t1goal,t2goal,t1awaygoal,t2awaygoal,t1goals,...,t1goaldiff,t1awaygoals,t2awaygoals,t1awaygoaldiff,t1home,t1awaymindiff,t1,t2,winner,t1win
0,2008,first,arsenal-milan,1.0,NaN,False,False,False,False,0,...,0,0,0,0,1,0,arsenal,milan,arsenal,1
1,2008,first,arsenal-milan,2.0,NaN,False,False,False,False,0,...,0,0,0,0,1,1,arsenal,milan,arsenal,1
2,2008,first,arsenal-milan,3.0,NaN,False,False,False,False,0,...,0,0,0,0,1,2,arsenal,milan,arsenal,1
3,2008,first,arsenal-milan,4.0,NaN,False,False,False,False,0,...,0,0,0,0,1,3,arsenal,milan,arsenal,1
4,2008,first,arsenal-milan,5.0,NaN,False,False,False,False,0,...,0,0,0,0,1,4,arsenal,milan,arsenal,1

In [21]:
matrix.tail()

,season,round,tie,made_minute,away,t1goal,t2goal,t1awaygoal,t2awaygoal,t1goals,...,t1goaldiff,t1awaygoals,t2awaygoals,t1awaygoaldiff,t1home,t1awaymindiff,t1,t2,winner,t1win
30236,2019,first,united-psg,180.0,NaN,False,False,False,False,2,...,-1,2,2,0,0,4,united,psg,united,1
30237,2019,first,united-psg,181.0,NaN,False,False,False,False,2,...,-1,2,2,0,0,3,united,psg,united,1
30238,2019,first,united-psg,182.0,NaN,False,False,False,False,2,...,-1,2,2,0,0,2,united,psg,united,1
30239,2019,first,united-psg,183.0,NaN,False,False,False,False,2,...,-1,2,2,0,0,1,united,psg,united,1
30240,2019,first,united-psg,184.0,a,True,False,True,False,3,...,0,3,2,1,0,0,united,psg,united,1

In [22]:
X = matrix[[
    'made_minute',
    't1goaldiff',
    't1awaygoaldiff',
    't1awaymindiff',
]].values

In [23]:
y = matrix['t1win'].values

In [24]:
lrmodel = LogisticRegression(random_state=41, solver='liblinear')

In [25]:
scores = model_selection.cross_val_score(lrmodel, X, y, cv=10)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.75 (+/- 0.08)

In [26]:
lrmodel.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=41, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [27]:
matrix['probt1win'] = [l[1] for l in lrmodel.predict_proba(X)]

In [28]:
matrix.head()

,season,round,tie,made_minute,away,t1goal,t2goal,t1awaygoal,t2awaygoal,t1goals,...,t1awaygoals,t2awaygoals,t1awaygoaldiff,t1home,t1awaymindiff,t1,t2,winner,t1win,probt1win
0,2008,first,arsenal-milan,1.0,NaN,False,False,False,False,0,...,0,0,0,1,0,arsenal,milan,arsenal,1,0.380388
1,2008,first,arsenal-milan,2.0,NaN,False,False,False,False,0,...,0,0,0,1,1,arsenal,milan,arsenal,1,0.380967
2,2008,first,arsenal-milan,3.0,NaN,False,False,False,False,0,...,0,0,0,1,2,arsenal,milan,arsenal,1,0.381546
3,2008,first,arsenal-milan,4.0,NaN,False,False,False,False,0,...,0,0,0,1,3,arsenal,milan,arsenal,1,0.382126
4,2008,first,arsenal-milan,5.0,NaN,False,False,False,False,0,...,0,0,0,1,4,arsenal,milan,arsenal,1,0.382706

In [29]:
matrix.tail()

,season,round,tie,made_minute,away,t1goal,t2goal,t1awaygoal,t2awaygoal,t1goals,...,t1awaygoals,t2awaygoals,t1awaygoaldiff,t1home,t1awaymindiff,t1,t2,winner,t1win,probt1win
30236,2019,first,united-psg,180.0,NaN,False,False,False,False,2,...,2,2,0,0,4,united,psg,united,1,0.254142
30237,2019,first,united-psg,181.0,NaN,False,False,False,False,2,...,2,2,0,0,3,united,psg,united,1,0.254379
30238,2019,first,united-psg,182.0,NaN,False,False,False,False,2,...,2,2,0,0,2,united,psg,united,1,0.254616
30239,2019,first,united-psg,183.0,NaN,False,False,False,False,2,...,2,2,0,0,1,united,psg,united,1,0.254853
30240,2019,first,united-psg,184.0,a,True,False,True,False,3,...,3,2,1,0,0,united,psg,united,1,0.626079

In [30]:
matrix.to_csv('sklearn-pred-prob.csv', index=False)

In [31]:
start = 0
end = 1
step = 0.05

print('start|end|n|prob')
while start < end:
    subset = matrix[
        (matrix.probt1win >= start) & (matrix.probt1win < start + step)
    ]
    correct = subset.t1win.sum() / float(len(subset))
    print(f'{start}|{start + step}|{len(subset)}|{correct}')
    start += step

start|end|n|prob
0|0.05|4247|0.007770190722863198
0.05|0.1|1446|0.04771784232365145
0.1|0.15000000000000002|2889|0.14157147802007616
0.15000000000000002|0.2|540|0.1685185185185185
0.2|0.25|729|0.24691358024691357
0.25|0.3|2520|0.35753968253968255
0.3|0.35|206|0.06310679611650485
0.35|0.39999999999999997|3826|0.3531102979613173
0.39999999999999997|0.44999999999999996|3130|0.4188498402555911
0.44999999999999996|0.49999999999999994|1709|0.4593329432416618
0.49999999999999994|0.5499999999999999|710|0.576056338028169
0.5499999999999999|0.6|9|0.0
0.6|0.65|2259|0.6352368304559539
0.65|0.7000000000000001|1484|0.7190026954177897
0.7000000000000001|0.7500000000000001|475|0.608421052631579
0.7500000000000001|0.8000000000000002|83|0.7710843373493976
0.8000000000000002|0.8500000000000002|1404|0.7849002849002849
0.8500000000000002|0.9000000000000002|286|0.9335664335664335
0.9000000000000002|0.9500000000000003|1029|0.901846452866861
0.9500000000000003|1.0000000000000002|1260|0.9825396825396825