In [40]:
import pandas as pd

In [41]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression

In [42]:
matrix = pd.read_csv('minute-matrix.csv')

In [43]:
matrix.head()

,season,round,tie,made_minute,away,game,t1goaldiff,t1awaygoaldiff,t1home,stoppagetime,...,t1,t2,winner,t1win,homewing1,drawg1,awaywing1,homewing2,drawg2,awaywing2
0,2008,first,arsenal-milan,1.0,NaN,1,0,0,1,0,...,arsenal,milan,arsenal,1,0.452474,0.314634,0.232891,0.0,0.0,0.0
1,2008,first,arsenal-milan,2.0,NaN,1,0,0,1,0,...,arsenal,milan,arsenal,1,0.452474,0.314634,0.232891,0.0,0.0,0.0
2,2008,first,arsenal-milan,3.0,NaN,1,0,0,1,0,...,arsenal,milan,arsenal,1,0.452474,0.314634,0.232891,0.0,0.0,0.0
3,2008,first,arsenal-milan,4.0,NaN,1,0,0,1,0,...,arsenal,milan,arsenal,1,0.452474,0.314634,0.232891,0.0,0.0,0.0
4,2008,first,arsenal-milan,5.0,NaN,1,0,0,1,0,...,arsenal,milan,arsenal,1,0.452474,0.314634,0.232891,0.0,0.0,0.0

In [44]:
matrix.tail()

,season,round,tie,made_minute,away,game,t1goaldiff,t1awaygoaldiff,t1home,stoppagetime,...,t1,t2,winner,t1win,homewing1,drawg1,awaywing1,homewing2,drawg2,awaywing2
30236,2019,first,united-psg,180.0,NaN,2,-1,0,0,0,...,united,psg,united,1,0.412593,0.278619,0.308788,0.648003,0.207221,0.144775
30237,2019,first,united-psg,181.0,NaN,2,-1,0,0,0,...,united,psg,united,1,0.412593,0.278619,0.308788,0.648003,0.207221,0.144775
30238,2019,first,united-psg,182.0,NaN,2,-1,0,0,0,...,united,psg,united,1,0.412593,0.278619,0.308788,0.648003,0.207221,0.144775
30239,2019,first,united-psg,183.0,NaN,2,-1,0,0,0,...,united,psg,united,1,0.412593,0.278619,0.308788,0.648003,0.207221,0.144775
30240,2019,first,united-psg,184.0,a,2,0,1,0,1,...,united,psg,united,1,0.412593,0.278619,0.308788,0.648003,0.207221,0.144775

In [45]:
X = matrix[[
    'made_minute',
    't1goaldiff',
    't1awaygoaldiff',
    'homewing1','drawg1','awaywing1',
    'homewing2','drawg2','awaywing2',
]].values

In [46]:
y = matrix['t1win'].values

In [47]:
lrmodel = LogisticRegression(random_state=41, solver='liblinear')

In [48]:
scores = model_selection.cross_val_score(lrmodel, X, y, cv=10)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.78 (+/- 0.13)

In [49]:
lrmodel.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=41, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [50]:
lrmodel.score(X, y)

0.790086306669753

In [51]:
matrix['probt1win'] = [l[1] for l in lrmodel.predict_proba(X)]

In [52]:
matrix.head()

,season,round,tie,made_minute,away,game,t1goaldiff,t1awaygoaldiff,t1home,stoppagetime,...,t2,winner,t1win,homewing1,drawg1,awaywing1,homewing2,drawg2,awaywing2,probt1win
0,2008,first,arsenal-milan,1.0,NaN,1,0,0,1,0,...,milan,arsenal,1,0.452474,0.314634,0.232891,0.0,0.0,0.0,0.487575
1,2008,first,arsenal-milan,2.0,NaN,1,0,0,1,0,...,milan,arsenal,1,0.452474,0.314634,0.232891,0.0,0.0,0.0,0.487759
2,2008,first,arsenal-milan,3.0,NaN,1,0,0,1,0,...,milan,arsenal,1,0.452474,0.314634,0.232891,0.0,0.0,0.0,0.487943
3,2008,first,arsenal-milan,4.0,NaN,1,0,0,1,0,...,milan,arsenal,1,0.452474,0.314634,0.232891,0.0,0.0,0.0,0.488128
4,2008,first,arsenal-milan,5.0,NaN,1,0,0,1,0,...,milan,arsenal,1,0.452474,0.314634,0.232891,0.0,0.0,0.0,0.488312

In [53]:
matrix.tail()

,season,round,tie,made_minute,away,game,t1goaldiff,t1awaygoaldiff,t1home,stoppagetime,...,t2,winner,t1win,homewing1,drawg1,awaywing1,homewing2,drawg2,awaywing2,probt1win
30236,2019,first,united-psg,180.0,NaN,2,-1,0,0,0,...,psg,united,1,0.412593,0.278619,0.308788,0.648003,0.207221,0.144775,0.333290
30237,2019,first,united-psg,181.0,NaN,2,-1,0,0,0,...,psg,united,1,0.412593,0.278619,0.308788,0.648003,0.207221,0.144775,0.333454
30238,2019,first,united-psg,182.0,NaN,2,-1,0,0,0,...,psg,united,1,0.412593,0.278619,0.308788,0.648003,0.207221,0.144775,0.333618
30239,2019,first,united-psg,183.0,NaN,2,-1,0,0,0,...,psg,united,1,0.412593,0.278619,0.308788,0.648003,0.207221,0.144775,0.333782
30240,2019,first,united-psg,184.0,a,2,0,1,0,1,...,psg,united,1,0.412593,0.278619,0.308788,0.648003,0.207221,0.144775,0.695177

In [54]:
matrix.to_csv('sklearn-pred-prob.csv', index=False)

In [55]:
start = 0
end = 1
step = 0.05

print('start|end|n|prob')
while start < end:
    subset = matrix[
        (matrix.probt1win >= start) & (matrix.probt1win < start + step)
    ]
    correct = subset.t1win.sum() / float(len(subset))
    print(f'{start}|{start + step}|{len(subset)}|{correct}')
    start += step

start|end|n|prob
0|0.05|5233|0.008408178864895853
0.05|0.1|2109|0.07586533902323377
0.1|0.15000000000000002|1654|0.15296251511487305
0.15000000000000002|0.2|1549|0.23628147191736604
0.2|0.25|1655|0.172809667673716
0.25|0.3|1629|0.22099447513812154
0.3|0.35|1381|0.2541636495293266
0.35|0.39999999999999997|1402|0.427246790299572
0.39999999999999997|0.44999999999999996|1388|0.42795389048991356
0.44999999999999996|0.49999999999999994|1225|0.5093877551020408
0.49999999999999994|0.5499999999999999|1272|0.6721698113207547
0.5499999999999999|0.6|1179|0.6700593723494487
0.6|0.65|1176|0.6360544217687075
0.65|0.7000000000000001|1043|0.5340364333652924
0.7000000000000001|0.7500000000000001|883|0.6862967157417894
0.7500000000000001|0.8000000000000002|1144|0.7167832167832168
0.8000000000000002|0.8500000000000002|858|0.8216783216783217
0.8500000000000002|0.9000000000000002|892|0.8385650224215246
0.9000000000000002|0.9500000000000003|879|0.9283276450511946
0.9500000000000003|1.0000000000000002|1690|0.9822485207100592